/** @format */

.App {
	font-family: sans-serif;
	text-align: center;
}
.pageloader {
	height: 100%;
	width: 100%;
	right: 0 !important;
	top: 100% !important;
	position: fixed;
	background: #035388;
	background: #035388;
	z-index: 999998;
	transition: transform 0.35s ease-out;
	will-change: transform;
}
